@charset "UTF-8";

@font-face {
    font-family: "tuniaoFont"; /* Project id 3063751 */
    src:
            url('//at.alicdn.com/t/c/font_3063751_mv3s0bemwkk.woff?t=1716729364126') format('woff'),
            url('//at.alicdn.com/t/c/font_3063751_mv3s0bemwkk.ttf?t=1716729364126') format('truetype');
    font-display: swap;
}
[class*='tn-icon-'] {
    font-family: 'tuniaoFont' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    text-decoration: none;
}
.tn-icon-close:before {
    content: "\e761";
}
.tn-icon-left:before {
    content: "\e7e0";
}
.tn-icon-right:before {
    content: "\e7de";
}
.tn-icon-search:before {
    content: "\e86c";
}
.tn-icon-download:before {
    content: "\e836";
}
.tn-icon-down:before {
    content: "\e7df";
}


@font-face {
    font-family: "PFont"; /* Project id 4199196 */
    src:
            url('//at.alicdn.com/t/c/font_4199196_c5z1lenzffi.woff?t=1755690978381') format('woff'),
            url('//at.alicdn.com/t/c/font_4199196_c5z1lenzffi.ttf?t=1755690978381') format('truetype');
    font-display: swap;
}

[class*='p-icon-'] {
    font-family: 'PFont' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    text-decoration: none;
}
.p-icon-a-508:before {
    content: "\e82d";
}
.p-icon-a-0012:before {
    content: "\e84f";
}
.p-icon-a-0022:before {
    content: "\e850";
}
.p-icon-a-0041:before {
    content: "\e851";
}
.p-icon-a-0031:before {
    content: "\e84d";
}
.p-icon-a-0051:before {
    content: "\e84e";
}
.p-icon-a-067:before {
    content: "\e856";
}
.p-icon-a-104:before {
    content: "\e854";
}
.p-icon-a-106:before {
    content: "\e874";
}
.p-icon-a-019:before {
    content: "\e85d";
}
.p-icon-a-085:before {
    content: "\e857";
}
.p-icon-a-087:before {
    content: "\e873";
}