<!doctype html>
<html class="no-js" lang="en-US">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>WONE 404</title>
		<meta name="description" content="" />
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<!--防某度-->
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="author" content="http://m.iwone.cn/" />
		<link rel="alternate icon" type="image/png" href="img/favicon.png">
    <link rel="shortcut icon" href="img/favicon.ico">
		<link rel="stylesheet" href="css/amazeui.min.css">
    <link rel="stylesheet" href="css/iconfont2.css">
    <link rel="stylesheet" href="css/iconfont.css">
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body class="body-bg">
		<header class="m-hd" style="background-color: var(--theme-header-bg);">
		  <!-- 电脑-->
		  <section data-am-sticky class="am-show-md-up">
		    <div style="background-color: var(--theme-header-color);">
		      <div class="am-container">
		        <div class="fl">
		          <div>
		            <div class="am-fr">
		              <ul class="m-nav am-nav am-nav-pills am-fl" style="margin-right: -10px;position: relative;z-index: 99999 !important;">
		                <!--hover下拉-->
		                <li class="am-dropdown" data-am-dropdown>
		                  <a href="" rel="nofollow" style="color: var(--theme-header-bg) !important;">
		                    <span class="p-icon-a-104"></span>
		                    <span class="am-padding-right">English</span>
		                  </a>
		                  <ul class="sub-menu am-text-sm">
		                    <li class="menu-item">
		                      
		                      <nav class="" style="width: 100%;height: 200px;overflow-y: scroll;">
		                        <ul class="am-menu-nav am-avg-sm-1" style="background-color: var(--theme-header-bg);">
		                          <li class="am-parent">
		                            <a href="" rel="nofollow">English</a>
		                          </li>
		                          <li class="am-parent">
		                            <a href="" rel="nofollow">简体中文</a>
		                          </li>
		                          <li class="am-parent">
		                            <a href="" rel="nofollow">日本语</a>
		                          </li>
		                          <li class="am-parent">
		                            <a href="" rel="nofollow">English</a>
		                          </li>
		                          <li class="am-parent">
		                            <a href="" rel="nofollow">简体中文</a>
		                          </li>
		                          <li class="am-parent">
		                            <a href="" rel="nofollow">日本语</a>
		                          </li>
		                          <li class="am-parent">
		                            <a href="" rel="nofollow">English</a>
		                          </li>
		                          <li class="am-parent">
		                            <a href="" rel="nofollow">简体中文</a>
		                          </li>
		                          <li class="am-parent">
		                            <a href="" rel="nofollow">日本语</a>
		                          </li>
		                          <li class="am-parent">
		                            <a href="" rel="nofollow">English</a>
		                          </li>
		                          <li class="am-parent">
		                            <a href="" rel="nofollow">简体中文</a>
		                          </li>
		                          <li class="am-parent">
		                            <a href="" rel="nofollow">日本语</a>
		                          </li>
		                          <li class="am-parent">
		                            <a href="" rel="nofollow">English</a>
		                          </li>
		                          <li class="am-parent">
		                            <a href="" rel="nofollow">简体中文</a>
		                          </li>
		                          <li class="am-parent">
		                            <a href="" rel="nofollow">日本语</a>
		                          </li>
		                        </ul>
		                                          
		                      </nav>
		                      
		                      
		                    </li>
		                  </ul>
		                </li>
		                
		                <li>
		                  <a rel="nofollow" style="color: var(--theme-header-bg) !important;" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, }">
		                    <span class="p-icon-a-019"></span>
		                    <span class="">RFQ</span>
		                  </a>
		                </li>
		                
		              </ul>
		            </div>
		          </div><!-- <br><br> -->
		          
		        </div>
		        
		      </div>
		    </div>
		    <div class="am-container" style="padding-top: 10px;">
		  		<div class="fl">
		        <div>
		          <nav class="am-fl" style="margin-top: -5px;">
		            <!-- <a href="index.html" rel="nofollow" class="m-logo"><i class="am-icon-spinner"></i> </a> -->
		            <a class="am-fl am-padding-right" href="index.html" rel="nofollow">
		              <img src="images/logo-image.png" alt="" class="logo-square">
		            </a>
		        		<ul class="m-nav am-nav am-nav-pills am-fl" style="margin-top: 10px;">
		              <li>
		              	<a href="index.html" rel="nofollow">
		                  <!-- <span class="am-icon-align-left"></span> -->
		                  Home</a>
		              </li>
		              <li>
		              	<a href="Products.html" rel="nofollow">Products</a>
		              </li>
		              <li>
		              	<a href="solutions.html" rel="nofollow">Solutions</a>
		              </li>
		        			<li>
		        				<a href="documents.html" rel="nofollow">Documents</a>
		        			</li>
		              <li>
		              	<a href="new.html" rel="nofollow">News</a>
		              </li>
		              <li>
		              	<a href="about.html" rel="nofollow">Profile</a>
		              </li>
		              
		        		</ul>
		        	</nav>
		        </div>
		      </div>
		  		
		      <div class="am-fr">
		        <div class="" style="margin-top: 5px;">
		          <a href="download.html" class="am-btn am-btn-sm am-round"  style="background-color: var(--theme-wone);color: #FFFFFF;min-width: 50px;" rel="nofollow">
		            <span class="tn-icon-search am-text-lg"></span>
		          </a>
		          <a class="am-btn am-btn-sm am-round"  style="background-color: var(--theme-wone);color: #FFFFFF;min-width: 50px;" rel="nofollow" data-am-modal="{target: '#doc-modal-2', closeViaDimmer: 0, }">
		          <span class="tn-icon-download am-text-lg"></span>
		          <span class="am-hide-md-only am-padding-left-sm">Download the app</span>
		          </a>
		        </div>
		        
		      </div>
		  	</div>
		  </section>
		  
		  <!-- 手机-->
			<nav data-am-widget="header" class="am-header am-show-sm-only">
				<div class="am-header-left am-header-nav">
					<!-- <a href="index.html" rel="nofollow" class="min-logo"><i class="am-icon-spinner"></i> </a> -->
		      <a href="index.html" rel="nofollow" class="">
		        <img src="images/logo-image.png" alt="" class="logo-square">
		      </a>
					<!--<a href="/" rel="nofollow">
						<i class="am-header-icon am-icon-home"></i> 首页
					</a>-->
				</div>
		  </h1>
				<div class="am-header-right am-header-nav">
					<a href="#right-link" class="" data-am-offcanvas="{target: '#r-nav'}"  style="color: var(--theme-wone);">
						<i class="am-header-icon am-icon-th-large"></i> MENU
					</a>
				</div>
			</nav>
		
			<!-- 侧边栏内容 -->
			<div id="r-nav" class="am-offcanvas">
				<div class="am-offcanvas-bar am-offcanvas-bar-flip">
					<nav class="am-offcanvas-content">
						<a href="index.html" rel="nofollow"><span class="logo"></span></a>
		        
		        <p>
		        	<a href="index.html" rel="nofollow">Home</a>
		        </p>
		        
		        <p>
		          <a href="Products.html" rel="nofollow">Products</a>
		        </p>
		        <p>
		        	<a href="solutions.html" rel="nofollow">Solutions</a>
		        </p>
		        <p>
		        	<a href="documents.html" rel="nofollow">Documents</a>
		        </p>
		        <p>
		        	<a href="new.html" rel="nofollow">News</a>
		        </p>
		        <p>
		        	<a href="about.html" rel="nofollow">Profile</a>
		        </p>
		        
						<ul class="am-nav am-nav-min">
							<!--hover下拉-->
							<li class="am-dropdown" data-am-dropdown>
								<a href="" rel="nofollow">
							    <span class="p-icon-a-104"></span>
							    <span class="am-padding-right">English</span>
								</a>
								<ul class="sub-menu am-text-sm">
									<li class="menu-item">
							      
							      <nav class="" style="width: 100%;height: 200px;overflow-y: scroll;">
							        <ul class="am-menu-nav am-avg-sm-1" style="background-color: var(--theme-header-bg)">
							          <li class="am-parent">
							            <a href="" rel="nofollow">English</a>
							          </li>
							          <li class="am-parent">
							            <a href="" rel="nofollow">简体中文</a>
							          </li>
							          <li class="am-parent">
							            <a href="" rel="nofollow">日本语</a>
							          </li>
							          <li class="am-parent">
							            <a href="" rel="nofollow">English</a>
							          </li>
							          <li class="am-parent">
							            <a href="" rel="nofollow">简体中文</a>
							          </li>
							          <li class="am-parent">
							            <a href="" rel="nofollow">日本语</a>
							          </li>
							          <li class="am-parent">
							            <a href="" rel="nofollow">English</a>
							          </li>
							          <li class="am-parent">
							            <a href="" rel="nofollow">简体中文</a>
							          </li>
							          <li class="am-parent">
							            <a href="" rel="nofollow">日本语</a>
							          </li>
							          <li class="am-parent">
							            <a href="" rel="nofollow">English</a>
							          </li>
							          <li class="am-parent">
							            <a href="" rel="nofollow">简体中文</a>
							          </li>
							          <li class="am-parent">
							            <a href="" rel="nofollow">日本语</a>
							          </li>
							          <li class="am-parent">
							            <a href="" rel="nofollow">English</a>
							          </li>
							          <li class="am-parent">
							            <a href="" rel="nofollow">简体中文</a>
							          </li>
							          <li class="am-parent">
							            <a href="" rel="nofollow">日本语</a>
							          </li>
							        </ul>
							                          
							      </nav>
							      
							      
									</li>
								</ul>
							</li>
		
						</ul>
						
						<h6 class="border-min am-padding-sm am-margin-0"></h6>
						
					</nav>
				</div>
			</div>
		</header>
		<div class="header-height">占位边距</div>  
    <div class="m-header-banner m-header-1" style="background-image: url(images/case-bg.jpg)">
    </div>
    
    <div class="am-container">
    	<div class="more-img" style="margin: 60px 0;">
    		<img src="img/26.png" alt="404" class="">
    		<div class="am-text-center am-text-xl am-text-blod">maybe you want to go 
          <a href="index.html">
            <span style="color: #F75755;">back?</span>
          </a>
        </div>
    	</div>
    </div>

		<!-- PC端的右侧按钮 -->
    <div class="am-hide-sm-only" style="position: fixed;right: -10px;top: 30vh;background-color: #FFFFFFF2;border-radius: 10px;box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.16);">
      <div class="home-hover">
        <div style="color: #0F0F0F;padding: 10px;margin: 0 10px;">
          <span class="p-icon-a-019 am-text-xl"></span>
          <!-- <span>RFQ</span> -->
        </div>
      </div>
      <div class="home-hover">
        <div style="color: #0F0F0F;padding: 10px;margin: 0 10px;">
          <span class="p-icon-a-039 am-text-xl"></span>
          <!-- <span>Email</span> -->
        </div>
      </div>
      <div class="home-hover" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, }">
        <div style="color: #0F0F0F;padding: 10px;margin: 0 10px;">
          <span class="p-icon-a-029 am-text-xl"></span>
          <!-- <span>Chat</span> -->
        </div>
      </div>
      <div class="home-hover">
        <a href="download.html">
          <div style="color: #0F0F0F;padding: 10px;margin: 0 10px;">
            <span class="p-icon-a-04download am-text-xl"></span>
            <!-- <span>Download</span> -->
          </div>
        </a>
      </div>
    </div>
    
		<!-- app端显示的下载按钮 -->
    <div class="am-container am-u-sm-12 am-show-sm-only phone-download">
      <div class="" style="margin-bottom: 10px;">
        <div class="am-g dd-hover4" style="background-color: #FFFFFF;border: 1px solid #F9F9F9;width: 100%;border-radius: 12px;box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.02);">
          <a href="cal-details.html">
            <div class="am-padding" style="display: inline-flex;">
              <div class="am-padding-right-sm">
                <div class="" style="width: 70px;height: 70px;">
                  <img src="images/logo-phone.png" alt="" class="am-img-responsive" style="width: 70px;height: 70px;border-radius: 10px;">
                </div>				
              </div>
              <div class="am-padding-right-xs" style="line-height: 23px;height: 70px;display: flex;justify-content: center;align-items: center;">
                Source professional electrical partners, experts, and explore smart grid & energy solutions.
              </div>
              <div class="am-padding-right-xs" style="height: 70px;display: flex;justify-content: center;align-items: center;">
                <span class="tn-icon-download am-text-xl"></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    

		<footer class="">
      
			<div class="" style="background-color: #777A82;">
				<section class="am-container am-g m-footer-container am-padding-top-lg">
					<section class="am-u-sm-6 am-u-md-4 am-u-lg-4 am-padding-bottom-lg am-padding-top-lg">
						<h2>Quick Link</h2>
						<a href="aaa.html" rel="nofollow">Home</a><br><br>
            <a href="aaa.html" rel="nofollow">Products</a><br><br>
            <a href="aaa.html" rel="nofollow">Solutions</a><br><br>
					</section>
					<section class="am-u-sm-6 am-u-md-4 am-u-lg-4 am-padding-bottom-lg am-padding-top-lg">
						<h2 style="opacity: 0;">Quick Link</h2>
					  <a href="aaa.html" rel="nofollow">News</a><br><br>
					  <a href="aaa.html" rel="nofollow">Documents</a><br><br>
            <a href="aaa.html" rel="nofollow" style="opacity: 0;">占位</a><br><br>
					</section>
          <section class="am-u-sm-6 am-u-md-4 am-u-lg-4 am-padding-bottom-lg am-padding-top-lg">
          	<h2>About Us</h2>
          	<a href="aaa.html" rel="nofollow">Profle</a><br><br>
            <a href="aaa.html" rel="nofollow">Download the app</a><br><br>
          </section>
          
          <hr style="opacity: 0.1;" />

				</section>
      </div>

			<div class="m-footer-bottom"  style="background-color: #000000;">
				<div class="am-container">
					<div class="am-g am-text-center am-padding-top-lg">
						<span class="m-u-sm-12">Copyright &copy; 2024  All Rights Reserved
            </span>
					</div>
				</div>
			</div>
		</footer>
    
		<script src="js/echo.min.js"></script>
		<script>
			echo.init({
				offset: 100,
				throttle: 250,
				unload: false,
				callback: function(element, op) {
					console.log(element, 'has been', op + 'ed')
				}
			});
			// 图片赖加载
		</script>
		<script src="js/jquery.min.js"></script>
		<script src="js/amazeui.min.js"></script>
		<script src='js/jquery.qrcode.min.js'></script>
    <script>
      $(function() {
        document.getElementsByTagName("body").item(0).style = "--theme-wone: #FF5656;--theme-header-bg: #FFFFFF;--theme-header-color: #000000;"
      })
    </script>
		<script type="text/javascript">
			$(function() {
				var str = "http://www.saitolia.com";
				$("#code").qrcode({
					render: "table",
					width: 100,
					height: 100,
					text: str
				});
			})
			// 二维码生成
			//返回顶部
			function imj2() {
				this.init();
			}
			imj2.prototype = {
				constructor: imj2,
				init: function() {
					this._initBackTop();
				},
				_initBackTop: function() {
					var $backTop = this.$backTop = $('<div class="m-top-cbbfixed">' +
						'<a class="m-top-go m-top-cbbtn">' +
						'<span class="m-top-goicon"></span>' +
						'</a>' +
						'</div>');
					$('body').append($backTop);

					$backTop.click(function() {
						$("html, body").animate({
							scrollTop: 0
						}, 800);
					});

					var timmer = null;
					$(window).bind("scroll", function() {
						var d = $(document).scrollTop(),
							e = $(window).height();
						0 < d ? $backTop.css("bottom", "10px") : $backTop.css("bottom", "-90px");
						clearTimeout(timmer);
						timmer = setTimeout(function() {
							clearTimeout(timmer)
						}, 100);
					});
				}

			}
			var imj2 = new imj2();
			//end返回顶部
		</script>

	</body>

</html>