<footer class="" th:fragment="footer">

    <div class="" style="background-color: #777A82;">
        <section class="am-container am-g m-footer-container am-padding-top-lg">
            <section th:if="${not #lists.isEmpty(bottomNavItems)}"
                     th:each="section : ${bottomNavItems}"
                     class="am-u-sm-6 am-u-md-3 am-u-lg-3 am-padding-bottom-lg am-padding-top-lg">

                <!-- 渲染顶级导航标题 -->
                <h3 class="am-text-sm" th:text="${section.title}"></h3>

                <!-- 循环渲染子导航项 -->
                <div style="display: flex;flex-direction: column;gap:10px;">
                    <a th:title="${item.text}" aria-hidden="false" th:aria-label="${item.text}" class="am-text-xs" th:each="item : ${section.items}"
                       th:href="@{${item.href}}"
                       th:text="${item.text}"
                       th:utext="${item.text}"></a>
                </div>
            </section>
        </section>
    </div>

    <div class="m-footer-bottom"  style="background-color: #000000;">
        <div class="am-container">
            <div class="am-g am-text-center am-padding-top-lg">
                 <span class="m-u-sm-12">
                        Copyright &copy; 2025
                 </span>
                 <span th:text="${brandName}"></span>.
                <a title="All Rights Reserved.POWERED BY IEE-Business" aria-hidden="false" aria-label="All Rights Reserved.POWERED BY IEE-Business" href="https://www.iee-business.com/">
                    <span>
                         All Rights Reserved.POWERED BY IEE-Business
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="am-show-sm-only" style="height: 130px;background-color: #000000">
        <div style="opacity: 0;">空白</div>
    </div>
    <script async th:src="'https://www.googletagmanager.com/gtag/js?id=' + ${gaTrackingId}"></script>
    <script th:inline="javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', /*[[${gaTrackingId}]]*/ 'G-0HKGZJNMN6');
    </script>
</footer>

<script>
    echo.init({
        offset: 500,
        throttle: 250,
        unload: false,
        callback: function (element, op) {
            console.log(element, 'has been', op + 'ed')
        }
    });
    // 图片赖加载
</script>
<script type="text/javascript">
    $(function () {
        //选项卡切换
        $('.category ul li').click(function () {
            indexC = $(this).index();
            $(this).addClass('pc-active').siblings().removeClass('pc-active');
            $('.cont').eq(indexC).addClass('pc-active').siblings().removeClass('pc-active');
        })
        //按钮箭头
        var catew = $('.category').width() - 150;
        var cateLiw = 0;
        $('.category ul li').each(function () {
            cateLiw += $(this).outerWidth();
        })
        var i = 0;
        $('.next').click(function () {
            $('.category ul').animate({
                "margin-left": -catew + 'px'
            }, 500)
            i++;
            if ((catew + 150) * i + (catew + 150) >= cateLiw) {
                $('.prev').show();
                $('.next').hide();
            }
        })
        $('.prev').click(function () {
            $('.category ul').animate({
                "margin-left": 0 + 'px'
            }, 500)
            $(this).hide();
            $('.next').show();
        })
    })
</script>

<script type="text/javascript">
    // $(function () {
    //     var str = "http://www.saitolia.com";
    //     $("#code").qrcode({
    //         render: "table",
    //         width: 100,
    //         height: 100,
    //         text: str
    //     });
    // })
    // 二维码生成
    //返回顶部
    function imj2() {
        this.init();
    }

    imj2.prototype = {
        constructor: imj2,
        init: function () {
            this._initBackTop();
        },
        _initBackTop: function () {
            var $backTop = this.$backTop = $('<div class="m-top-cbbfixed">' +
                '<div class="m-top-go m-top-cbbtn">' +
                '<span class="m-top-goicon"></span>' +
                '</div>' +
                '</div>');
            $('body').append($backTop);

            $backTop.click(function () {
                $("html, body").animate({
                    scrollTop: 0
                }, 800);
            });

            var timmer = null;
            $(window).bind("scroll", function () {
                var d = $(document).scrollTop(),
                    e = $(window).height();
                0 < d ? $backTop.css("bottom", "10px") : $backTop.css("bottom", "-90px");
                clearTimeout(timmer);
                timmer = setTimeout(function () {
                    clearTimeout(timmer)
                }, 100);
            });
        }

    }
    var imj2 = new imj2();
    //end返回顶部
</script>