<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="commonHead">
        <meta http-equiv="content-type" content="no-siteapp"/>
        <meta name="language" th:content="${langEName}">
        <meta http-equiv="Content-Language" th:content="${currentLang != null? currentLang:'en'}">
        <meta name="author" content="https://m.iwone.cn/"/>
        <link rel="preconnect" href="https://oss.iwone.cn">
        <link rel="preload" th:href="@{${'/css/amazeui.min.css?v=' + version}}" as="style">
        <link rel="preload" th:href="@{${'/css/mini_iconfont.css?v=' + version}}" as="style">
        <link rel="stylesheet" th:href="@{${'/css/mini_iconfont.css?v='+ version}}">
        <link rel="stylesheet" th:href="@{${'/css/amazeui.min.css?v=' + version}}">
        <link rel="stylesheet" th:href="@{${'/css/style.css?v='+ version}}">
        <link rel="icon" type="image/x-icon" th:href="${prodBrand.icon}">
        <link rel="icon" type="image/png" th:href="${prodBrand.icon}">
        <link rel="shortcut icon" th:href="${prodBrand.icon}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .m-hd .am-sticky {
                opacity: 1  !important;
            }
        </style>
        <script>
            window.i18n = window.i18n || {};  // 先声明变量
        </script>
        <script th:inline="javascript">
            var fontColor = /*[[${fontColor}]]*/ "#FF5656";
            var headColor = /*[[${headColor}]]*/ "#FFFFFF";
            var headFontColor = /*[[${headFontColor}]]*/ "#000000";
            var otherHeadFontColor = /*[[${otherHeadFontColor}]]*/ "#000000";
            document.documentElement.style.setProperty("--theme-wone", fontColor);
            document.documentElement.style.setProperty("--theme-header-bg", headFontColor);
            document.documentElement.style.setProperty("--theme-header-color", headColor);
            document.documentElement.style.setProperty("--theme-menu-font-color", otherHeadFontColor);
        </script>
        <th:block th:with="basePath=${cdnEnabled} ? ${cdnPrefix} +'/standalone' : ''">
            <script th:src="@{${basePath + '/js/jquery.min.js?v=' + version}}" defer></script>
            <script th:src="@{${basePath + '/js/amazeui.min.js?v=' + version}}" defer></script>
            <script th:src="@{${basePath + '/js/jquery.qrcode.min.js?v=' + version}}" defer></script>
            <script th:src="@{${basePath + '/js/echo.min.js?v=' + version}}" defer></script>
        </th:block>
        <script src="https://oss.iwone.cn/landing/js/appDownload.js" defer></script>
        <script th:inline="javascript">
            window.i18n = {
                uploadSuccess: [[${advanced['upload.success']}]],
                uploadError: [[${advanced['upload.error']}]],
                uploadFormat: [[${advanced['upload.format']}]],
                uploadSize: [[${advanced['upload.size']}]],
                uploading: [[${advanced['uploading']}]],
                ruleName: [[${advanced['rule.name']}]],
                ruleEmail: [[${advanced['rule.email']}]],
                rulePhone: [[${advanced['rule.phone']}]],
                ruleOrgName: [[${advanced['rule.orgName']}]],
                ruleEmailFormat: [[${advanced['rule.email.format']}]],
                ruleCountry: [[${advanced['rule.country']}]],
                ruleSubmit: [[${advanced['rule.submit']}]],
                ruleSubmitError: [[${advanced['rule.submit.error']}]],
                ruleNetwork: [[${advanced['rule.network']}]],
                uploadFile: [[${advanced['upload.file']}]]
            };
        </script>
        <script th:src="@{${'/js/main.js?v=' + version}}" defer></script>
    </th:block>

</head>
</html>