<!doctype html>
<html class="no-js" th:lang="${currentLang != null? currentLang:'en'}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title th:text="${title}"></title>
    <meta name="description" th:content="${description} ?: ${prodBrand.eName ?: 'DefaultBrand'} +' Home'"/>
    <meta name="keywords" th:content="${keywords} ?: ''">


    <meta property="og:title" th:content="${title}"/>
    <meta property="og:description" th:content="${description} ?: ${prodBrand.eName ?: 'DefaultBrand'} +' Home'"/>
    <meta property="og:url"
          th:content="${currentLang !=  null && currentLang != 'en' ? websitePath+currentLang : indexPath}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" th:content="${currentLang} ?: 'en'"/>
    <meta property="og:site_name" th:content="'@'+${prodBrand.eName ?: 'DefaultBrand'}"/>

    <meta name="twitter:title" th:content="${title}"/>
    <meta name="twitter:description" th:content="${description} ?: ${prodBrand.eName ?: 'DefaultBrand'} +' Home'"/>
    <meta name="twitter:site" th:content="'@'+${prodBrand.eName ?: 'DefaultBrand'}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" th:content="'@'+${prodBrand.eName ?: 'DefaultBrand'}"/>

    <link rel="canonical"
          th:href="${currentLang !=  null && currentLang != 'en' ? websitePath+currentLang : indexPath}"/>
    <link th:if="${langList != null and langList.size() > 1}" rel="alternate" hreflang="x-default"
          th:href="${indexPath}"/>
    <th:block th:if="${langList != null and langList.size() > 1 }" th:each="transLang : ${langList}">
        <link rel="alternate" th:hreflang="${transLang.lang}" th:href="${transLang.lang!= 'en'?websitePath+transLang.lang:indexPath}"/>
    </th:block>
    <link th:if="${not #lists.isEmpty(banner)}" rel="preload"
          th:href="${banner.get(0).imgUrl}"
          as="image"
          fetchpriority="high">
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <style>
        .am-slider.am-slider-a1{height:680px!important;min-height:680px;overflow:hidden}
        .am-slides{height:680px!important}
        .am-slider-images{height:680px!important}
        @media screen and (max-width:768px){
            .am-slider.am-slider-a1,.am-slides,.am-slides li{height:300px!important;min-height:300px}
        }
    </style>

    <th:block th:replace="head :: commonHead"></th:block>
    <script type="application/ld+json" th:utext="${schemaJson != null ? schemaJson : '{}'}">
    </script>
</head>

<body class="body-bg">
<h1 class="sr-only" th:text="${title} + '|' + ${prodBrand.fullName} "></h1>
<header class="m-hd" style="background-color: var(--theme-header-bg);">

    <th:block th:replace="pc-en :: section(param1='Home')"></th:block>

    <th:block th:replace="phone-en :: phone-header"></th:block>


    <th:block th:replace="phone-en2 :: r-nav"></th:block>
</header>

<div class="header-height"></div>
<!-- 轮播 -->
<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{"directionNav":false;slideshow:true,}' >

    <ul class="am-slides scroll-title" data-am-slider="{autoplay: 5000, loop: true}">
        <!-- 情况1：后端传递了 bannerImages 数据且非空 -->
        <li th:if="${not #lists.isEmpty(banner)}"
            th:each="index : ${banner}"
            class="am-slider-images"
            th:data-echo="${index.imgUrl}"
            th:style="'background-image: url(' + ${index.imgUrl} + ');background-repeat: no-repeat;background-position: center;background-size: cover'"
            >
            <!-- 移动端 -->
            <div class="am-text-center am-show-sm-only" style="margin: 10% auto; height: 200px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <div th:style="'font-size: 20px; font-weight: bold; color: ' + ${index.fontColor} + '; text-align: ' + ${index.fontPosition} + '; ' + (${index.fontPosition == 'left' ? 'margin-left: 20px;' : ''})"
                     th:text="${index.title}"> </div>
                <div th:style="'font-size: 15px; font-weight: bold; color: ' + ${index.fontColor} + '; text-align: ' + ${index.fontPosition} + '; ' + (${index.fontPosition == 'left' ? 'margin-left: 20px;' : ''})"
                     th:text="${index.description}" ></div>
                <div class="am-padding-top"
                     th:style="'display: flex; justify-content: ' + (${index.fontPosition == 'left' ? 'flex-start' : 'center'}) + '; ' + (${index.fontPosition == 'left' ? 'margin-left: 20px;' : ''})"
                     data-trigger="modal-1" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, }" style="height: 40px; width: 100%;">
                    <span class="dd-clamp-text-1"
                          th:style="|  border-radius: 40px; padding: 0px 16px; line-height: 40px; max-width: 300px; height: 40px; background-color: var(--theme-wone); | + (${index.fontPosition == 'left' ? 'margin-left: 0;' : ''})">
                            <a th:title="${index.title}" aria-hidden="false" th:aria-label="${index.title}" style="color: #FFFFFF; display: inline-block; width: 100%; height: 100%; line-height: 40px;"
                                th:text="${advanced['contact.us']}"></a>
                    </span>
                </div>
            </div>

            <!-- 桌面端 -->
            <div class="am-hide-sm-only"
                 style="margin: 10% auto; height: 300px; display: flex; flex-direction: column; justify-content: center; align-items: center;">

                <!-- 标题 -->
                <div th:text="${index.title}"
                     th:style="'font-size: 60px; font-weight: bold; color: ' + ${index.fontColor} + '; text-align: ' + ${index.fontPosition} + ';'"
                     th:classappend="${index.fontPosition == 'left' ? 'am-container' : ''}"
                     th:styleappend="${index.fontPosition == 'left' ? 'justify-content: flex-start;' : 'justify-content: center;'}">
                </div>

                <!-- 描述 -->
                <div th:text="${index.description}"
                     th:style="'font-size: 25px; font-weight: bold; color: ' + ${index.fontColor} + '; text-align: ' + ${index.fontPosition} + ';'"
                     th:classappend="${index.fontPosition == 'left' ? 'am-container' : ''}"
                     th:styleappend="${index.fontPosition == 'left' ? 'justify-content: flex-start;' : 'justify-content: center;'}">
                </div>


                <div th:if="${index.fontPosition == 'left'}" data-trigger="modal-1" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, }" class="am-padding-top am-container" style="display: flex; justify-content: flex-start; align-items: center;">
                    <span class="dd-clamp-text-1"
                          style="display:block;border-radius: 40px; padding: 0 16px; line-height: 40px; max-width: 300px; height: 40px; background-color: var(--theme-wone);cursor: pointer">
                        <a href="javascript:void(0);" role="button" th:title="${index.title}" aria-hidden="false" th:aria-label="${index.title}" style="color: #FFFFFF; text-decoration: none;" th:text="${advanced['contact.us']}"></a>
                    </span>
                </div>

                <div th:if="${index.fontPosition == 'center'}" data-trigger="modal-1" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, }" class="am-padding-top" style="display: flex; justify-content: center; align-items: center;">
                    <span class="dd-clamp-text-1"
                          style="display:block;border-radius: 40px; padding: 0 16px; line-height: 40px; max-width: 300px; height: 40px; background-color: var(--theme-wone);cursor: pointer">
                        <a href="javascript:void(0);" role="button" th:title="${index.title}" aria-hidden="false" th:aria-label="${index.title}" style="color: #FFFFFF; text-decoration: none;" th:text="${advanced['contact.us']}"></a>
                    </span>
                </div>
            </div>
        </li>

        <li th:unless="${not #lists.isEmpty(banner)}"
            th:each="i : ${#numbers.sequence(1, 3)}"
            class="am-slider-images"
            th:style="'background-image: url(/images/banner' + ${i} + '.jpg)'">
            <a title="No More" aria-hidden="false" aria-label="No More" th:href="@{/}" class="banner-link">
            </a>
        </li>
    </ul>
</div>



<div>
    <div class="am-container phone-title am-hide-sm-only" style="padding: 30px 30px 0 30px;background-color: #FFFFFF;">
            <div class="am-text-center">
                <div class="am-u-sm-12">
                    <h2 class="inline-header"><span class="am-text-xl am-text-bold"
                                                    th:text="${prodBrand.eName} + '   ' + ${advanced['products']}"></span>
                    </h2>
                </div>
            </div>
    </div>
    <div class="am-container" style="padding: 10px 0 30px 0;background-color: #FFFFFF;">
                <div class="tabs-new">
                    <div class="category">
                        <div>
                            <ul th:if="${not #lists.isEmpty(categories)}">
                                <li class="pc-active" th:text="${advanced['all']}">
                                    All
                                </li>
                                <li th:each="category,stat : ${categories}"
                                    th:data-tab-index="${stat.index + 1}">
                                    <span th:text="${category.i18nName}"></span>
                                </li>
                            </ul>
                            <ul>
                                <li class="pc-active" th:unless="${not #lists.isEmpty(categories)}"
                                    th:text="${advanced['all']}">
                                    All
                                </li>
                            </ul>
                        </div>
                        <a href="javascript:;" class="prev"><span></span></a>
                        <a href="javascript:;" class="next"><span></span></a>
                    </div>
                    <div class="cont pc-active">

                        <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-5 am-thumbnails am-padding-sm phone-clear-padding phone-clear-margin"
                            style="margin: 0 0;">
                            <li class="dd-hover4 am-margin-top" style="padding: 0 10px !important;"
                                th:if="${not #lists.isEmpty(featuredProducts)}"
                                th:each="prod : ${featuredProducts}">

                                <div style="background-color: #FFFFFF;padding: 15px;border-radius: 12px;">
                                    <a
                                       class="inline-a-link"
                                       th:href="${currentPathLang} + (${#lists.isEmpty(topNavPages.?[pageType == 2])} ?
           '/' :
           ('/' + ${#strings.replace(#strings.trim(topNavPages.?[pageType == 2][0].pageName), ' ', '-')} + '/') ) +
            'detail/'+
           ${#normalizer.normalizeString(prod.name)} +
           '-'+${prod.id}">
                                        <div class="image-box">
                                            <img th:alt="${prod.i18nName}" th:data-echo="${prod.url}"
                                                 th:src="${prod.url}"  class="image-square">
                                        </div>
                                        <span class="dd-clamp-text-2 am-padding-top-sm am-text-sm"
                                              th:text="${prod?.i18nName ?: ''}"></span>
                                    </a>
                                </div>

                            </li>
                            <!-- 空状态处理 -->
                            <li class="dd-hover4 am-margin-top"
                                th:if="${#lists.isEmpty(featuredProducts)}"
                                th:each="i : ${#numbers.sequence(1, 5)}"
                                style="padding: 0 10px !important;">
                                <div style="background-color: #FFFFFF;padding: 15px;border-radius: 12px;">
                                    <div class="image-box">
                                        <img class="image-square" style="background: #afb4b7">
                                    </div>
                                    <span class="dd-clamp-text-2 am-padding-top-sm am-text-sm"></span>
                                </div>
                            </li>
                        </ul>

                        <div th:if="${not #lists.isEmpty(featuredProducts)}"
                             class="am-container am-text-center am-margin-bottom-xl am-margin-top">
                            <a title="View All Products" aria-hidden="false" aria-label="View All Products"
                               class="inline-a-link"
                               th:href="
                               ${currentPathLang} +
                               (${ (#lists.isEmpty(topNavPages.?[pageType==2])) ?
                 '/' :
                 ('/' + #strings.replace(#strings.trim(topNavPages.?[pageType==2][0].pageName), ' ', '-')) })">
                                <button type="button" class="am-btn am-round"
                                        style="background-color: #FFFFFF;color: black;width: 300px;border: 1px solid var(--theme-wone);height: 40px;"
                                        th:text="${advanced['view.all']} + ' ' + ${advanced['products']}">

                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="cont" th:each="category,stat : ${cateProd}" th:data-content-index="${stat.index + 1}">
                        <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-5 am-thumbnails am-padding-sm phone-clear-padding phone-clear-margin"
                            style="margin: 0 0;">
                            <!-- 产品列表循环 -->
                            <li class="dd-hover4 am-margin-top"
                                th:if="${not #lists.isEmpty(cateProd)}" th:each="product : ${category.prod}"
                                style="padding: 0 10px !important;">
                                <div style="background-color: #FFFFFF;padding: 15px;border-radius: 12px;">
                                    <a
                                       class="inline-a-link"

                                       th:href="${currentPathLang} +
                                (${#lists.isEmpty(topNavPages.?[pageType == 2])} ?
        '/' :
        ('/' + ${#strings.replace(#strings.trim(topNavPages.?[pageType == 2][0].pageName), ' ', '-')} + '/') ) +
          'detail/'+
        ${#normalizer.normalizeString(product.name)} +
        '-' +
        ${product.id}">
                                        <div class="image-box">
                                            <img th:data-src="${product.url}" th:alt="${product.i18nName}"
                                                 src="/img/space.png" class="image-square">
                                        </div>
                                        <span class="dd-clamp-text-2 am-padding-top-sm am-text-sm"
                                              th:text="${product.i18nName ?: ''}"></span>
                                    </a>
                                </div>

                            </li>

                            <!-- 空状态处理 -->
                            <li class="dd-hover4 am-margin-top"
                                th:if="${#lists.isEmpty(category.prod)}"
                                th:each="i : ${#numbers.sequence(1, 5)}"
                                style="padding: 0 10px !important;">
                                <div style="background-color: #FFFFFF;padding: 15px;border-radius: 12px;">
                                    <div class="image-box">
                                        <img src="" alt="No Data" class="image-square" style="background: #afb4b7">
                                    </div>
                                    <span class="dd-clamp-text-2 am-padding-top-sm am-text-sm"></span>
                                </div>
                            </li>
                        </ul>
                        <div th:if="${not #lists.isEmpty(cateProd)}"
                             class="am-container am-text-center am-margin-bottom-xl am-margin-top">
                            <!-- 临时调试：输出分类ID和名称 -->
                            <div class="view-all-btn am-btn am-round load-more-btn"
                                 th:attr="data-cate-id=${category.cateId},
                                     data-lang-url=${currentPathLang},
                                     data-cate-name=${#strings.replace(#strings.trim(#strings.toLowerCase(category.cateName)), ' ', '-')}">
                                <button type="button" class="am-btn am-round"
                                        style="background-color: #FFFFFF;color: black;width: 300px;border: 1px solid var(--theme-wone);height: 40px;"
                                        th:text="${advanced['view.all']}  + ' ' + ${advanced['products']}">

                                </button>
                            </div>
                        </div>

                    </div>
                </div>
        </div>

            <div class="am-container phone-title" style="padding: 30px 30px 0 30px;">
                    <div class="am-u-sm-3 am-padding-top-xs">
                    </div>
                    <div class="am-u-sm-6 am-text-xl am-text-bold am-text-center">
                        <h2 class="inline-header">
                            <div class="dd-clamp-text-1" th:with="filtered=${topNavPages.?[pageType == 7]}"
                                 th:text="${#lists.isEmpty(filtered) ?
                                '' :
                                (filtered[0].i18nName ?: '')}"></div>
                        </h2>
                    </div>
                    <div class="am-u-sm-3 am-text-right am-padding-top-xs">
                        <a
                           th:href="${currentPathLang} + (${ (#lists.isEmpty(topNavPages.?[pageType==7])) ?
                 '/' :
                 ('/' + #strings.replace(#strings.trim(topNavPages.?[pageType==7][0].pageName), ' ', '-')) })">
                            <span style="color: #000000;text-decoration: underline;"
                                  th:text="${advanced['view.all']}"></span>
                            <span class="p-icon-a-067  am-padding-left-sm"></span>
                        </a>
                    </div>
            </div>
            <div class="am-container phone-container-all phone-clear-padding am-margin-bottom-sm">
                <ul class="am-avg-sm-2 am-avg-md-2 am-avg-lg-4 am-thumbnails am-padding-sm  ">
                    <li class="dd-hover4 am-margin-bottom-sm" style="padding: 0 10px !important;"
                        th:if="${not #lists.isEmpty(successCases)}" th:each="success : ${successCases}">
                        <div style="background-color: #FFFFFF;padding: 15px;border-radius: 12px;">
                            <a
                               class="inline-a-link"
                               th:href="
                            ${currentPathLang} +
                            (${#lists.isEmpty(topNavPages.?[pageType == 7])} ?
           '/' :
           ('/' + ${#strings.replace(#strings.trim(topNavPages.?[pageType == 7][0].pageName), ' ', '-')} + '/') ) +
           ${#strings.toLowerCase(
               #strings.replace(
                   #strings.replace(
                       #strings.trim(success.slugTitle),
                       '/', '-'
                   ),
                   ' ', '-'
               )
           )} + '-' +
           ${success.id}">
                                <div class="image-box2">
                                    <img th:data-echo="${success.iconUrl}" th:alt="${success.title}"
                                         th:src="${success.iconUrl}" class="image-square">
                                </div>
                                <div class="am-margin-top-sm dd-clamp-text-2 am-text-bold">
                                    <div th:text="${success?.i18nTitle ?: ''}"></div>
                                </div>
                                <span class="dd-clamp-text-3 am-padding-top-sm am-text-sm"
                                      th:text="${success?.content ?: ''}"></span>
                            </a>
                        </div>

                    </li>

                    <li class="dd-hover4 am-margin-bottom-sm" style="padding: 0 10px !important;"
                        th:if="${#lists.isEmpty(successCases)}"
                        th:each="i : ${#numbers.sequence(1, 4)}">
                        <div style="background-color: #FFFFFF;padding: 15px;border-radius: 12px;">
                            <div class="image-box2">
                                <img alt="No Data" src="" class="image-square" style="background: #afb4b7">
                            </div>
                            <div class="am-margin-top-sm dd-clamp-text-2 am-text-bold"></div>
                            <span class="dd-clamp-text-3 am-padding-top-sm am-text-sm"></span>
                        </div>
                    </li>
                </ul>
            </div>

    <!--Rockwill Solutions -->
    <div class="" style="background-color: #FFFFFF;">

        <div class="am-container phone-title" style="padding: 30px 30px 0 30px;background-color: #FFFFFF;">

            <div class="">
                <div class="am-u-sm-3 am-padding-top-xs">
                </div>
                <div class="am-u-sm-6 am-text-xl am-text-bold am-text-center">
                    <h2 class="inline-header">
                        <div class="dd-clamp-text-1" th:with="filtered=${topNavPages.?[pageType == 3]}"
                             th:text="${#lists.isEmpty(filtered) ?
                                '' :
                                (filtered[0].i18nName ?: '')}"></div>
                    </h2>
                </div>
                <div class="am-u-sm-3 am-text-right am-padding-top-xs">

                    <a
                       th:href="${currentPathLang} + (${ (#lists.isEmpty(topNavPages.?[pageType==3])) ?
                 '/' :
                 ('/' + #strings.replace(#strings.trim(topNavPages.?[pageType==3][0].pageName), ' ', '-')) })">
                        <span style="color: #000000;text-decoration: underline;"
                              th:text="${advanced['view.all']}"></span>
                        <span class="p-icon-a-067  am-padding-left-sm"></span>
                    </a>
                </div>

            </div>

        </div>

        <div class="am-container phone-container-all am-margin-top am-padding-bottom">
            <div style="margin: 0 10px;">

                <div class="am-u-sm-12 am-u-md-12 am-u-lg-4 am-padding-left am-padding-right phone-clear-padding am-margin-bottom"
                     th:if="${not #lists.isEmpty(solutions)}" th:each="article : ${solutions}">
                    <div class="" style="background-color: #F9F9F9;border-radius: 12px;">
                        <div class="am-g dd-hover4 am-padding" style="width: 100%;">
                            <div>

                                    <div class="am-fl am-margin-right">
                                        <div class="phone-bottom" style="width: 100px;height: 100px;">
                                            <img th:data-echo="${article.iconUrl}" th:alt="${article.title}"
                                                 th:src="${article.iconUrl}" src="" alt="" class="am-img-responsive"
                                                 style="object-fit: cover;width: 100px;height: 100px;border-radius: 12px;">
                                        </div>
                                    </div>
                                    <div class="" style="height: 100px;">
                                        <a
                                           class="inline-a-link"
                                           th:href="
                        ${currentPathLang} +
                        (${#lists.isEmpty(topNavPages.?[pageType == 3])} ?
           '/' :
           ('/' + ${#strings.replace(#strings.trim(topNavPages.?[pageType == 3][0].pageName), ' ', '-')} + '/') ) +
           ${#strings.toLowerCase(#strings.replace(#strings.trim(article.slugTitle), ' ', '-'))} + '-' +
           ${article.id}">
                                        <span class="dd-clamp-text-1 am-text-bold" th:text="${article.i18nTitle}"></span>
                                        <div class="dd-clamp-text-2 am-padding-top-sm" style="color: #6C6C6C"
                                             th:text="${article.content}"></div>
                                        </a>
                                        <div class="am-padding-top-xs am-cf am-text-sm">
                                            <div class="am-fl dd-clamp-text-1" style="width: 40%;color: #5C779F;">
                                                <span class="am-icon-user"></span>
                                                <a class="device-aware-link"
                                                   th:href="${brandUrl}" style="border: none">
                                                    <span th:text="${article.author}"></span>
                                                </a>
                                            </div>
                                            <div class="am-fr" style="color:#999999">
                                                <span th:if="${article.created != null}"
                                                      th:text="${#dates.format(article.created, 'MM/dd/yyyy')}"></span>
                                            </div>
                                        </div>

                                    </div>

                            </div>
                        </div>
                    </div>

                </div>


                <div class="am-u-sm-12 am-u-md-12 am-u-lg-4 am-padding-left am-padding-right phone-clear-padding am-margin-bottom"
                     th:if="${#lists.isEmpty(solutions)}"
                     th:each="i : ${#numbers.sequence(1, 6)}">
                    <div class="" style="background-color: #F9F9F9;border-radius: 12px;">
                        <div class="am-g dd-hover4 am-padding" style="width: 100%;">
                            <div>
                                <div class="am-fl am-margin-right">
                                    <div class="phone-bottom" style="width: 100px;height: 100px;">
                                        <img src="" alt="No Data" class="am-img-responsive"
                                             style="object-fit: cover;width: 100px;height: 100px;border-radius: 12px;background: #afb4b7">
                                    </div>
                                </div>
                                <div class="" style="height: 100px;">
                                    <div class="dd-clamp-text-1 am-text-bold"></div>
                                    <div class="dd-clamp-text-2 am-padding-top-sm" style="color: #6C6C6C"></div>
                                    <div class="am-padding-top-xs am-cf am-text-sm">
                                        <div class="am-fl dd-clamp-text-1" style="width: 30%;color: #5C779F;">
                                        </div>
                                        <div class="am-fr" style="color:#999999">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Rockwill News -->
    <div class="am-container phone-title" style="padding: 30px 30px 0 30px;">
                <div class="am-u-sm-3 am-padding-top-xs">
                </div>
                <div class="am-u-sm-6 am-text-xl am-text-bold am-text-center">
                    <h2 class="inline-header">
                        <div class="dd-clamp-text-1" th:with="filtered=${topNavPages.?[pageType == 5]}"
                             th:text="${#lists.isEmpty(filtered) ?
                                '' :
                                (filtered[0].i18nName ?: '')}"></div>
                    </h2>
                </div>
                <div class="am-u-sm-3 am-text-right am-padding-top-xs">
                    <a th:title="${advanced['view.all']}" aria-hidden="false"
                       th:aria-label="${advanced['view.all']}"
                       th:href="${currentPathLang} +  (${ (#lists.isEmpty(topNavPages.?[pageType==5])) ?
                 '/' :
                 ('/' + #strings.replace(#strings.trim(topNavPages.?[pageType==5][0].pageName), ' ', '-')) })">
                        <span style="color: #000000;text-decoration: underline;"
                              th:text="${advanced['view.all']}"></span>
                        <span class="p-icon-a-067  am-padding-left-sm"></span>
                    </a>
                </div>
        </div>
    <div class="am-container phone-container-all phone-clear-padding am-margin-bottom-xl">
            <ul class="am-avg-sm-1 am-avg-md-3 am-avg-lg-3 am-thumbnails am-padding-sm phone-clear-padding phone-clear-margin"
                style="margin: 0 0 20px 0;">
                <li class="dd-hover4 am-margin-top" style="padding: 0 10px !important;"
                    th:if="${not #lists.isEmpty(news)}" th:each="index : ${news}">

                    <div style="background-color: #FFFFFF;padding: 15px;border-radius: 12px;">
                        <a
                           class="inline-a-link" th:href="
                        ${currentPathLang} +
                        (${#lists.isEmpty(topNavPages.?[pageType == 5])} ?
           '/' :
           ('/' + ${#strings.replace(#strings.trim(topNavPages.?[pageType == 5][0].pageName), ' ', '-')} + '/') ) +
           ${#strings.toLowerCase(#strings.replace(#strings.trim(index.slugTitle), ' ', '-'))} + '-' +
           ${index.id}">
                            <div class="image-box3">
                                <img th:data-echo="${index.iconUrl}" th:alt="${index.title}" th:src="${index.iconUrl}"
                                     src="" alt="" class="image-square">
                            </div>
                            <span class="am-margin-top-sm dd-clamp-text-1 am-text-bold" th:text="${index.i18nTitle}">
                            </span>
                            <span class="dd-clamp-text-5 am-padding-top-sm am-text-sm"
                                  th:text="${index.content}"></span>
                            <div class="am-padding-top-xs am-text-sm am-text-right" style="color:#999999">
                           <span th:if="${index.created != null}"
                                 th:text="${#dates.format(index.created, 'MM/dd/yyyy')}"></span>
                            </div>
                        </a>
                    </div>

                </li>

                <li class="dd-hover4 am-margin-top" style="padding: 0 10px !important; "
                    th:if="${#lists.isEmpty(news)}"
                    th:each="i : ${#numbers.sequence(1, 6)}">
                    <div style="background-color: #FFFFFF;padding: 15px;border-radius: 12px;">
                        <div class="image-box3">
                            <img src="" alt="No Data" class="image-square" style="background: #afb4b7">
                        </div>
                        <div class="am-margin-top-sm dd-clamp-text-1 am-text-bold">
                            <div></div>
                        </div>
                        <span class="dd-clamp-text-5 am-padding-top-sm am-text-sm"></span>
                        <div class="am-padding-top-xs am-text-sm am-text-right" style="color:#999999">
                            <span></span>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

    <input type="hidden" id="topNavPageName"
           th:value="${#lists.isEmpty(topNavPages.?[pageType == 2]) ? '' : #strings.replace(#strings.trim(topNavPages.?[pageType == 2][0].pageName), ' ', '-')}">
</div>


<th:block th:replace="search :: search"></th:block>
<th:block th:replace="inquiry :: inquiry"></th:block>
<th:block th:replace="right-menu :: right-menu(param1='Home')"></th:block>
<th:block th:replace="footer :: footer"></th:block>
<script th:src="@{${'/js/home.js?v=' + version}}"></script>

</body>

</html>