<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1" th:fragment="inquiry">
    <div class="am-modal-dialog" style="border-radius: 12px;">
        <div class="am-modal-hd am-padding-xl am-text-xl">
            <span th:text="${advanced['send.inquiry']}"></span>
            <div href="javascript: void(0)" class="am-close am-close-spin tn-icon-close am-margin"
               style="color: var(--theme-wone);" data-am-modal-close></div>
        </div>
        <form class="am-form am-form-horizontal am-padding-bottom-lg am-padding-top-lg">
            <input type="hidden" id="input-biz-id" name="bizId">
            <div class="am-form-group">
                <label for="doc-ipt-3-a" class="am-u-sm-5 am-u-md-3 am-form-label" th:text="${advanced['your.name']}"></label>
                <div class="am-u-sm-7 am-u-md-9">
                    <input type="text" id="input-name" class="" th:placeholder="${advanced['your.name']}">
                </div>
            </div>
            <div class="am-form-group">
                <label for="doc-ipt-3-a" class="am-u-sm-5 am-u-md-3 am-form-label" th:text="${advanced['your.phone']}"></label>
                <div class="am-u-sm-7 am-u-md-9">
                    <input type="number" id="input-phone" class="" th:placeholder="${advanced['your.phone']}">
                </div>
            </div>
            <div class="am-form-group">
                <label for="doc-ipt-3-a" class="am-u-sm-5 am-u-md-3 am-form-label" th:text="${advanced['your.email']}"></label>
                <div class="am-u-sm-7 am-u-md-9">
                    <input type="email" id="input-email" class="" th:placeholder="${advanced['your.email']}">
                </div>
            </div>
            <div class="am-form-group">
                <label for="doc-ipt-3-a" class="am-u-sm-5 am-u-md-3 am-form-label" th:text="${advanced['your.country']}"></label>
                <div class="am-u-sm-7 am-u-md-9">
                    <input type="text" id="input-country" class="" th:placeholder="${advanced['your.country']}">
                </div>
            </div>
            <div class="am-form-group">
                <label for="doc-ipt-3-a" class="am-u-sm-5 am-u-md-3 am-form-label" th:text="${advanced['your.message']}"></label>
                <div class="am-u-sm-7 am-u-md-9">
                    <input type="text" id="input-message" class="" th:placeholder="${advanced['your.message']}">
                </div>
            </div>
            <div class="am-form-group am-padding-top-lg">
                <button type="button" class="am-btn am-btn-default am-round am-margin-sm"
                        style="background-color: var(--theme-wone) !important;color: #FFFFFF;width: 90%;max-width: 300px;height: 46px;" th:text="${advanced['send.now']}">

                </button>
            </div>

        </form>

    </div>
</div>


<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-3" th:fragment="inquiry">
    <div class="am-modal-dialog" style="border-radius: 12px;">
        <div class="am-modal-hd am-padding-xl am-text-xl">
            <span th:text="${advanced['download']}"></span>
            <div href="javascript: void(0)" class="am-close am-close-spin tn-icon-close am-margin"
               style="color: var(--theme-wone);" data-am-modal-close></div>
        </div>
        <div class="am-modal-bd am-margin" style="max-height: 440px;overflow-y: scroll;">
            <div class="am-text-bold am-text-left">Experts Electrical is dedicated to serving the personnel in the
                global power industry.
            </div>
            <div class="am-text-left am-margin-top">
                Join Experts Electrical, not only can you discover power equipment and power knowledge, but also canhnd
                like - minded friends!
            </div>


            <div class="am-container">
                <div class="am-text-center am-text-xl am-avg-sm-3" style="margin: 10px 0;">
                    <a href="https://play.google.com/store/apps/details?id=cn.iwone.pwuniapp" title="Google Play" aria-hidden="false" aria-label="Google Play">
                        <img src="https://oss.iwone.cn/standalone/img/down/01.png"  data-src="https://oss.iwone.cn/standalone/img/down/01.png"  loading="lazy" alt="Google Play"
                             style="height: 50px;margin: 10px;overflow: hidden;object-fit: cover;">
                    </a>
                    <a href="https://apps.apple.com/zm/app/wone/id6503928704" title="App Store" aria-hidden="false" aria-label="App Store">
                        <img src="https://oss.iwone.cn/standalone/img/down/02.png"  data-src="https://oss.iwone.cn/standalone/img/down/02.png" loading="lazy" alt="App Store"
                             style="height: 50px;margin: 10px;overflow: hidden;object-fit: cover;">
                    </a>
                    <a href="https://url.cloud.huawei.com/rf51G1mfg4?shareTo=qrcode" title="HUAWEI" aria-hidden="false" aria-label="HUAWEI">
                        <img src="https://oss.iwone.cn/standalone/img/down/03.png"  data-src="https://oss.iwone.cn/standalone/img/down/03.png"  loading="lazy" alt="HUAWEI"
                             style="height: 50px;margin: 10px;overflow: hidden;object-fit: cover;">
                    </a>
                    <a href="https://global.app.mi.com/details?lo=ID&la=en_US&id=cn.iwone.pwuniapp" title="XIAOMI" aria-hidden="false" aria-label="XIAOMI">
                        <img src="https://oss.iwone.cn/standalone/img/down/04.png" data-src="https://oss.iwone.cn/standalone/img/down/04.png" loading="lazy" alt="XIAOMI"
                             style="height: 50px;margin: 10px;overflow: hidden;object-fit: cover;">
                    </a>
                    <span title="VIVO" aria-hidden="false" aria-label="VIVO">
                        <img src="https://oss.iwone.cn/standalone/img/down/05.png" data-src="https://oss.iwone.cn/standalone/img/down/05.png" loading="lazy" alt="VIVO"
                             style="height: 50px;margin: 10px;overflow: hidden;object-fit: cover;">
                    </span>
                    <span title="OPPO" aria-hidden="false" aria-label="OPPO">
                        <img src="https://oss.iwone.cn/standalone/img/down/06.png"  data-src="https://oss.iwone.cn/standalone/img/down/06.png" loading="lazy" alt="OPPO"
                             style="height: 50px;margin: 10px;overflow: hidden;object-fit: cover;">
                    </span>
                    <span title="Palm Store" aria-hidden="false" aria-label="Palm Store">
                        <img src="https://oss.iwone.cn/standalone/img/down/07.png" data-src="https://oss.iwone.cn/standalone/img/down/07.png" loading="lazy" alt="Palm Store"
                             style="height: 50px;margin: 10px;overflow: hidden;object-fit: cover;">
                    </span>
                    <a href="https://galaxy.store/wone" title="SAMSUNG" aria-hidden="false" aria-label="SAMSUNG">
                        <img src="https://oss.iwone.cn/standalone/img/down/08.png" data-src="https://oss.iwone.cn/standalone/img/down/08.png" loading="lazy" alt="SAMSUNG"
                             style="height: 50px;margin: 10px;overflow: hidden;object-fit: cover;">
                    </a>
                </div>
            </div>

            <div class="am-container">
                <div class="am-text-center" style="margin: 10px 0;">
                    <img src="https://www.iee-business.com/landing/home/downloadQr" alt="App Store"
                         style="height: 160px;margin: 10px;overflow: hidden;object-fit: cover;">
                </div>
            </div>

        </div>


    </div>
</div>


<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-2" th:fragment="inquiry">
    <div class="am-modal-dialog" style="border-radius: 12px;">
        <div class="am-modal-hd am-padding-xl am-text-xl">
            <span th:text="${advanced['download']}"></span>
            <div class="am-close am-close-spin tn-icon-close am-margin" style="color: #F75755;"
                 data-am-modal-close></div>
        </div>
        <div class="am-modal-bd am-margin" style="max-height: 70vh;overflow-y: scroll;">
            <div class="am-text-bold am-text-left"  th:text="${advanced['app.download.title']}">
            </div>
            <div class="am-text-left am-margin-top"  th:text="${advanced['app.description.repeat']}">

            </div>

            <div class="am-container">
                <div class="am-text-center am-text-xl am-avg-sm-3" style="margin: 10px 0;">
                    <a href="https://play.google.com/store/apps/details?id=cn.iwone.pwuniapp" title="Google Play" aria-hidden="false" aria-label="Google Play">
                        <img src="https://oss.iwone.cn/standalone/img/down/01.png" alt="Google Play"
                             style="height: 50px;margin: 10px;overflow: hidden;object-fit: cover;">
                    </a>
                    <a href="https://apps.apple.com/zm/app/wone/id6503928704" title="App Store" aria-hidden="false" aria-label="App Store">
                        <img src="https://oss.iwone.cn/standalone/img/down/02.png" alt="App Store"
                             style="height: 50px;margin: 10px;overflow: hidden;object-fit: cover;">
                    </a>
                    <a href="https://url.cloud.huawei.com/rf51G1mfg4?shareTo=qrcode" title="HUAWEI" aria-hidden="false" aria-label="HUAWEI">
                        <img src="https://oss.iwone.cn/standalone/img/down/03.png" alt="HUAWEI"
                             style="height: 50px;margin: 10px;overflow: hidden;object-fit: cover;">
                    </a>
                    <a href="https://global.app.mi.com/details?lo=ID&la=en_US&id=cn.iwone.pwuniapp" title="XIAOMI" aria-hidden="false" aria-label="XIAOMI">
                        <img src="https://oss.iwone.cn/standalone/img/down/04.png" alt="XIAOMI"
                             style="height: 50px;margin: 10px;overflow: hidden;object-fit: cover;">
                    </a>
                    <span title="VIVO" aria-hidden="false" aria-label="VIVO">
                        <img src="https://oss.iwone.cn/standalone/img/down/05.png" alt="VIVO"
                             style="height: 50px;margin: 10px;overflow: hidden;object-fit: cover;">
                    </span>
                    <span title="OPPO" aria-hidden="false" aria-label="OPPO">
                        <img src="https://oss.iwone.cn/standalone/img/down/06.png" alt="OPPO"
                             style="height: 50px;margin: 10px;overflow: hidden;object-fit: cover;">
                    </span>
                    <span title="Palm Store" aria-hidden="false" aria-label="Palm Store">
                        <img src="https://oss.iwone.cn/standalone/img/down/07.png" alt="Palm Store"
                             style="height: 50px;margin: 10px;overflow: hidden;object-fit: cover;">
                    </span>
                    <a href="https://galaxy.store/wone" title="SAMSUNG" aria-hidden="false" aria-label="SAMSUNG">
                        <img src="https://oss.iwone.cn/standalone/img/down/08.png" alt="SAMSUNG"
                             style="height: 50px;margin: 10px;overflow: hidden;object-fit: cover;">
                    </a>
                </div>
            </div>

            <div class="am-container">
                <div class="am-text-center" style="margin: 10px 0;">
                    <a title="DownloadQr" aria-hidden="false" aria-label="DownloadQr">
                        <img src="https://www.iee-business.com/landing/home/downloadQr" alt="DownloadQr"
                             style="height: 160px;margin: 10px;overflow: hidden;object-fit: cover;">
                    </a>
                    <div class="am-margin-bottom" style="color: #0D6ECF;">
                        <!--                        Copy Download Link-->
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>