<!doctype html>
<html class="no-js" th:lang="${currentLang}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title th:text="${pageTitle}"></title>
    <meta name="description" th:content="${description} ?: ''"/>
    <meta name="keywords" th:content="${pageKeyword} ?: ''">
    <link rel="canonical" th:href="${websitePath + (currentLang !=  null && currentLang != 'en' ? currentLang + '/' : '') + pageName + '-' + (pageData?.pageNum ?: 1)}" />
    <meta property="og:title" th:content="${title}" />
    <meta property="og:description" th:content="${description}"/>
    <meta property="og:url" th:content="${websitePath + (currentLang !=  null && currentLang != 'en' ? currentLang + '/' : '') + pageName + '-' + (pageData?.pageNum ?: 1)}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" th:content="${currentLang}" />
    <meta property="og:site_name"  th:content="'@'+${prodBrand.eName ?: 'DefaultBrand'}"/>

    <meta name="twitter:title" th:content="${title}"/>
    <meta name="twitter:description" th:content="${description}"/>
    <meta name="twitter:site" th:content="'@'+${prodBrand.eName ?: 'DefaultBrand'}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" th:content="'@'+${prodBrand.eName ?: 'DefaultBrand'}"/>

    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <!--防某度-->
    <th:block th:replace="head :: commonHead"></th:block>
</head>

<body class="body-bg">
<header class="m-hd" style="background-color: var(--theme-header-bg);">

    <!-- 电脑-->
    <th:block th:replace="pc-en :: section(param1='News')"></th:block>
    <!-- 手机-->
    <th:block th:replace="phone-en :: phone-header"></th:block>

    <!-- 侧边栏内容 -->
    <th:block th:replace="phone-en2 :: r-nav"></th:block>
</header>
<div class="header-height">占位边距</div>
<div class="m-header-banner m-header-1"
     th:style="'background-image: url(' + (${pageIcon} ?: 'https://oss.iwone.cn/standalone/images/case-bg.jpg') + ')'">
    <section class="am-container am-text-center wone-text">
        <hgroup data-am-scrollspy="{animation:'slide-bottom', delay: 200}">
            <h2 th:text="${i18nName}"></h2>
            <p class="dd-clamp-text-1" th:text="${pageDescription}"></p>
        </hgroup>
    </section>
</div>
<nav class="m-cat-nav">
    <div class="am-container">
        <ol class="am-breadcrumb am-breadcrumb-slash am-padding-top-xl">
            <li><a th:href="${currentPathLang} + '/Home'" th:title="${advanced['home.button']}" aria-hidden="false" th:aria-label="${advanced['home.button']}"> <span class="p-icon-a-508 am-padding-right-xs" th:text="${advanced['home.button']}"></span></a></li>
            <li><a th:text="${i18nName}" th:href="${currentPathLang} + '/' + ${pageName}" th:title="${i18nName}" aria-hidden="false" th:aria-label="${i18nName}"></a></li>
        </ol>
    </div>
</nav>
<div class="" style="">
    <div class="am-container am-padding phone-clear-padding"
         style="margin: 0px auto 0px !important;padding: 0 30px 0 30px !important;" th:if="${not #strings.isEmpty(pageDetailedText)}">
        <div class="am-text-lg" style="background-color: #FFFFFF;padding: 30px;margin: 0 1px;border-radius: 12px;"
             th:text="${pageDetailedText}">
        </div>
    </div>
    <!--new -->
    <div class="am-container phone-container-all phone-clear-padding am-margin-bottom">
        <ul class="am-avg-sm-1 am-avg-md-3 am-avg-lg-3 am-thumbnails phone-clear-padding phone-clear-margin"
            style="margin: 0 0 20px 0;padding: 10px">
            <li class="dd-hover4 am-margin-top" style="padding: 0 10px !important;"
                th:if="${not #lists.isEmpty(pageData.rows)}"
                th:each="index : ${pageData.rows}">
                <a th:title="${index.i18nTitle}" aria-hidden="false" th:aria-label="${index.i18nTitle}"
                   th:href="${currentPathLang} + (${#lists.isEmpty(topNavPages.?[pageType == 5])} ?
                   '/' :
                   ('/' + ${#strings.replace(#strings.trim(topNavPages.?[pageType == 5][0].pageName), ' ', '-')} + '/') ) +
                   ${#strings.toLowerCase(#strings.replace(#strings.trim(index.slugTitle), ' ', '-'))} + '-' +
                   ${index.id}">
                    <div style="background-color: #FFFFFF;padding: 15px;border-radius: 12px;">
                        <div class="image-box3">
                            <img th:alt="${index.i18nTitle}" th:src="${index.iconUrl}" alt="" class="image-square">
                        </div>
                        <div class="am-margin-top-sm dd-clamp-text-1 am-text-bold">
                            <div th:text="${index.i18nTitle}"></div>
                        </div>
                        <span class="dd-clamp-text-5 am-padding-top-sm am-text-sm" th:text="${index.content}"></span>
                        <div class="am-padding-top-xs am-text-sm am-text-right" style="color:#999999">
                    <span th:if="${index.created != null}"
                          th:text="${#dates.format(index.created, 'MM/dd/yyyy')}"></span>
                        </div>
                    </div>
                </a>
            </li>

            <li class="dd-hover4 am-margin-top" style="padding: 0 10px !important;"
                th:if="${#lists.isEmpty(pageData.rows)}"
                th:each="i : ${#numbers.sequence(1, 6)}">
                <div style="background-color: #FFFFFF;padding: 15px;border-radius: 12px;">
                    <div class="image-box3">
                        <img alt="No Data" src="" class="image-square" style="background: #afb4b7">
                    </div>
                    <div class="am-margin-top-sm dd-clamp-text-1 am-text-bold">
                        <div></div>
                    </div>
                    <span class="dd-clamp-text-5 am-padding-top-sm am-text-sm"></span>
                    <div class="am-padding-top-xs am-text-sm am-text-right" style="color:#999999">
                        <span></span>
                    </div>
                </div>
            </li>
        </ul>
        <!-- 分页组件 -->
        <th:block th:replace="pagination :: pagination(
    totalPages=${pageData.totalPages},
    currentPage=${pageData.pageNum},
    requestUrl=${pageName})"></th:block>

    </div>
</div>
<!-- 搜索弹窗-->
<th:block th:replace="search :: search"></th:block>

<!-- 弹窗-->
<th:block th:replace="inquiry :: inquiry"></th:block>

<!-- PC端的右侧按钮 -->
<th:block th:replace="right-menu :: right-menu(param1='News')"></th:block>

<!-- app端显示的下载按钮 -->
<!--    <th:block th:replace="phone-down :: phone-down"></th:block>-->

<!-- 底部导航   -->
<th:block th:replace="footer :: footer"></th:block>


</body>

</html>