<!-- templates/fragments/header.html -->
<section data-am-sticky class="am-show-md-up" th:fragment="section(param1)">
    <div style="background-color: var(--theme-header-color);">
        <div class="am-container">
            <div class="fl">
                <div>
                    <div class="am-fr">
                        <ul class="m-nav am-nav am-nav-pills am-fl" style="margin-right: -10px;position: relative;z-index: 99999 !important;">
                            <!--hover下拉-->
                            <li class="am-dropdown" data-am-dropdown>
                                <a title="English" aria-hidden="false" aria-label="English" style="color: var(--theme-menu-font-color) !important;">
                                    <span class="p-icon-a-104"></span>
                                    <span class="am-padding-right" th:text="${langName}">English</span>
                                </a>
                                <ul class="sub-menu am-text-sm">
                                    <li class="menu-item">

                                        <nav class="" style="width: 100%;height: auto; max-height: 200px;overflow-y: scroll;">
                                            <ul class="am-menu-nav am-avg-sm-1" style="background-color: var(--theme-header-bg)">
                                                <li class="am-parent" th:each="item : ${langList}">
                                                    <a th:if="${suffix != null}"
                                                       th:href="${item.lang == 'en'} ?
                                                        ('/' + ${pageName} + ${suffix}) :
                                                        ('/' + ${item.lang} + '/' + ${pageName} + ${suffix})"
                                                       th:text="${item.langName}"
                                                       th:title="${item.langName}"
                                                       th:classappend="${#httpServletRequest.getParameter('lang') == item.lang} ? 'am-active' : ''">
                                                    </a>
                                                    <a th:unless="${suffix != null}"
                                                       th:href="${item.lang == 'en'} ?
                                                        ( ${pageName!='Home'?'/'+pageName:''}) :
                                                        ('/' + ${item.lang}  + ( ${pageName!='Home'?'/'+pageName:''}))"
                                                       th:text="${item.langName}"
                                                       th:title="${item.langName}"
                                                       th:classappend="${#httpServletRequest.getParameter('lang') == item.lang} ? 'am-active' : ''">
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>

                                    </li>
                                </ul>
                            </li>

                            <li>
                                <button title="RFQ" aria-hidden="false" aria-label="RFQ" data-trigger="modal-1" style="background: none; border: none;color: var(--theme-menu-font-color) !important;" th:data-biz-id="'site-'+${param1}" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, }">
                                    <span class="p-icon-a-019"></span>
                                    <span class="">RFQ</span>
                                </button>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="am-container" style="padding-top: 10px;">
        <div class="fl">
            <div>
                <nav class="am-fl" style="margin-top: -5px;">
                    <a class="am-fl am-padding-right" th:href="${currentPathLang} + '/'" >
                        <img th:alt="${prodBrand.name}" th:src="${prodBrand.icon}"
                             class="logo-square" style="width: auto">
                    </a>
                    <ul class="m-nav am-nav am-nav-pills am-fl" style="margin-top: 10px;">
                        <li th:each="navItem : ${topNavPages.?[pageType == 1]}"
                            th:class="${navItem.pageName == pageName ? 'nav-hover' : ''}">
                            <a th:title="${navItem.i18nName}" aria-hidden="false" th:aria-label="${navItem.i18nName}" th:href="${currentPathLang==''?'/':currentPathLang}" th:text="${navItem.i18nName}"></a>
                        </li>

                        <li th:each="navItem : ${topNavPages.?[pageType != 1]}"
                            th:class="${navItem.pageName == pageName ? 'nav-hover' : ''}">
                            <a th:title="${navItem.i18nName}" aria-hidden="false" th:aria-label="${navItem.i18nName}" th:href="${currentPathLang} + '/' + ${navItem.pageName}" th:text="${navItem.i18nName}"></a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>

        <div class="am-fr">
            <div class="" style="margin-top: 5px;">
                <button title="Search" aria-hidden="false" aria-label="Search" class="am-btn am-btn-sm am-round"  style="background-color: var(--theme-wone);color: var(--theme-menu-font-color) !important;min-width: 50px;"  data-am-modal="{target: '#search-modal', closeViaDimmer: 0, }">
                    <span class="tn-icon-search am-text-lg"></span>
                </button>
                <button th:title="${advanced['download.the.app']}" aria-hidden="false" th:aria-label="${advanced['download.the.app']}" class="am-btn am-btn-sm am-round"  style="background-color: var(--theme-wone);color: var(--theme-menu-font-color) !important;min-width: 50px;"  data-am-modal="{target: '#doc-modal-2', closeViaDimmer: 0, }">
                    <span class="tn-icon-download am-text-lg"></span>
                    <span class="am-hide-md-only am-padding-left-sm" th:text="${advanced['download.the.app']}"></span>
                </button>
            </div>

        </div>
    </div>
</section>
