<!-- templates/fragments/header.html -->
<section data-am-sticky class="am-show-md-up" th:fragment="section(param1)">
    <div style="background-color: var(--theme-header-color);">
        <div class="am-container">
            <div class="fl">
                <div>
                    <div class="am-fr">
                        <ul class="m-nav am-nav am-nav-pills am-fl" style="margin-right: -10px;position: relative;z-index: 99999 !important;">
                            <!--hover下拉-->
                            <li class="am-dropdown" data-am-dropdown>
                                <a title="English" aria-hidden="false" aria-label="English" style="color: var(--theme-menu-font-color) !important;">
                                    <span class="p-icon-a-104"></span>
                                    <span class="am-padding-right">English</span>
                                </a>

                            </li>

                            <li>
                                <a title="RFQ" aria-hidden="false" aria-label="RFQ" rel="nofollow" data-trigger="modal-1" style="color: var(--theme-menu-font-color) !important;" th:data-biz-id="${param1}" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, }">
                                    <span class="p-icon-a-019"></span>
                                    <span class="">RFQ</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div><!-- <br><br> -->

            </div>

        </div>
    </div>
    <div class="am-container" style="padding-top: 10px;">
        <div class="fl">
            <div>
                <nav class="am-fl" style="margin-top: -5px;">
                    <a class="am-fl am-padding-right" href="/" rel="nofollow">
                        <img th:alt="${prodBrand.name}" th:src="${prodBrand.icon}"
                             class="logo-square">
                    </a>
                    <ul class="m-nav am-nav am-nav-pills am-fl" style="margin-top: 10px;">
                        <li th:each="navItem : ${topNavPages.?[pageType == 1]}"
                            th:class="${navItem.pageName == pageName ? 'nav-hover' : ''}">
                            <a th:title="${navItem.pageName}" aria-hidden="false" th:aria-label="${navItem.pageName}" th:href="'/' + ${navItem.pageName}" th:text="${navItem.pageName}"></a>
                        </li>

                        <li th:each="navItem : ${topNavPages.?[pageType != 1]}"
                            th:class="${navItem.pageName == pageName ? 'nav-hover' : ''}">
                            <a th:title="${navItem.pageName}" aria-hidden="false" th:aria-label="${navItem.pageName}" th:href="'/' + ${navItem.pageName}" th:text="${navItem.pageName}"></a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>

        <div class="am-fr">
            <div class="" style="margin-top: 5px;">
                <a title="Search" aria-hidden="false" aria-label="Search" class="am-btn am-btn-sm am-round"  style="background-color: var(--theme-wone);color: var(--theme-menu-font-color) !important;min-width: 50px;" rel="nofollow" data-am-modal="{target: '#search-modal', closeViaDimmer: 0, }">
                    <span class="tn-icon-search am-text-lg"></span>
                </a>
                <a title="Download the app" aria-hidden="false" aria-label="Download the app" class="am-btn am-btn-sm am-round"  style="background-color: var(--theme-wone);color: var(--theme-menu-font-color) !important;min-width: 50px;" rel="nofollow" data-am-modal="{target: '#doc-modal-2', closeViaDimmer: 0, }">
                    <span class="tn-icon-download am-text-lg"></span>
                    <span class="am-hide-md-only am-padding-left-sm">Download the app</span>
                </a>
            </div>

        </div>
    </div>
</section>
