<div class="am-container am-u-sm-12 am-show-sm-only phone-download" onclick="downloadAppHandler()"
     th:fragment="phone-down">
    <div class="" style="margin-bottom: 10px;">
        <div class="am-g dd-hover4"
             style="background-color: #FFFFFF;border: 1px solid #F9F9F9;width: 100%;border-radius: 12px;box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.02);">
            <div class="am-padding" style="display: inline-flex;">
                <div class="am-padding-right-sm">
                    <div class="" style="width: 70px;height: 70px;">
                        <img src="https://oss.iwone.cn/standalone/images/logo-phone.png" alt="IEE Business" class="am-img-responsive"
                             style="width: 70px;height: 70px;border-radius: 10px;">
                    </div>
                </div>
                <div class=""
                     style="line-height: 23px;height: 70px;display: flex;justify-content: center;align-items: center;" th:text="${advanced['app.foot.download']}">

                </div>
                <div class="am-padding-right-xs" onclick="downloadAppHandler()"
                     style="height: 70px;display: flex;justify-content: center;align-items: center;">
                    <span class="tn-icon-download am-text-xl"></span>
                </div>
            </div>
        </div>
    </div>
</div>
