<div id="r-nav" class="am-offcanvas" th:fragment="r-nav">
    <div class="am-offcanvas-bar am-offcanvas-bar-flip">
        <nav class="am-offcanvas-content phone-menu-p">

            <ul class="am-nav am-nav-min lang-list-down">
                <li class="am-dropdown lang-dropdown" data-am-dropdown>
                    <div class="lang-trigger">
                        <span class="am-padding-left-0" th:text="${langName}">
                        </span>
                        <span class="tn-icon-down am-padding-left-xs am-text-xs dropdown-arrow"></span>
                    </div>

                    <ul class="sub-menu lang-list am-text-sm">
                        <li class="menu-item">
                            <nav class="lang-list-container">
                                <ul class="am-menu-nav am-avg-sm-1">
                                    <li class="am-parent" th:each="item : ${langList}">
                                        <a th:if="${suffix != null}"
                                           th:href="${item.lang == 'en'} ?
                                                        ('/' + ${pageName} + ${suffix}) :
                                                        ('/' + ${item.lang} + '/' + ${pageName} + ${suffix})"
                                           th:text="${item.langName}"
                                           th:title="${item.langName}"
                                           th:classappend="${#httpServletRequest.getParameter('lang') == item.lang} ? 'am-active' : ''">
                                        </a>
                                        <a th:unless="${suffix != null}"
                                           th:href="${item.lang == 'en'} ?
                                                        ( ${pageName!='Home'?'/'+pageName:'/'}) :
                                                        ('/' + ${item.lang}  + ( ${pageName!='Home'?'/'+pageName:''}))"
                                           th:text="${item.langName}"
                                           th:title="${item.langName}"
                                           th:classappend="${#httpServletRequest.getParameter('lang') == item.lang} ? 'am-active' : ''">
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </li>
                    </ul>
                </li>
            </ul>

            <p>
                <a th:href="${currentPathLang!=''? currentPathLang:'/'}" title="logo" aria-hidden="false" aria-label="logo"><span class="logo"></span></a>
            </p>
            <p th:each="navItem : ${topNavPages.?[pageType == 1]}"
               th:if="${navItem.pageType}">
                <a th:title="${navItem.i18nName}" aria-hidden="false" th:aria-label="${navItem.i18nName}" th:href="${currentPathLang} + '/' + ${navItem.pageName}" th:text="${navItem.i18nName}"></a>
            </p>

            <p th:each="navItem : ${topNavPages.?[pageType != 1]}"
               th:if="${navItem.pageType}">
                <a th:title="${navItem.i18nName}" aria-hidden="false" th:aria-label="${navItem.i18nName}" th:href="${currentPathLang} + '/' + ${navItem.pageName}" th:text="${navItem.i18nName}"></a>
            </p>
        </nav>
    </div>
</div>


