<nav data-am-widget="header" class="am-header am-show-sm-only" th:fragment="phone-header"
     style="position: sticky; top: 0;right: 0;left: 0;">
    <div class="am-header-left am-header-nav">
        <a href="/" title="Home" aria-hidden="false" aria-label="Home">
            <img th:src="${prodBrand.icon}" alt="Home" class="logo-square" style="width: auto">
        </a>
    </div>
    <div class="am-header-right am-header-nav">
        <a title="right" aria-hidden="false" aria-label="right" class="" style="color: var(--theme-wone);" rel="nofollow"
           data-am-modal="{target: '#search-modal', closeViaDimmer: 0, }">
            <span class="tn-icon-search am-text-lg am-padding-right"></span>
        </a>
        <a title="MENU" aria-hidden="false" aria-label="MENU" href="#right-link" class="" data-am-offcanvas="{target: '#r-nav'}" style="color: var(--theme-wone);">
            <i class="am-header-icon am-icon-th-large"></i> MENU
        </a>
    </div>
</nav>